[{aptamer, [
      {'Elixir.Aptamer.Endpoint',
          [{secret_key_base,
               <<"IccgQqMtrQrDjvRIlwgs/3ni1qizFseXblYBn2sMEePo0SR7WQadi0+xYWZS7isa">>},
           {render_errors,
               [{view,'Elixir.Aptamer.ErrorView'},
                {accepts,[<<"html">>,<<"json">>,<<"json-api">>]}]},
           {pubsub,
               [{name,'Elixir.Aptamer.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,
                  {{cfg.port}}
                  }]},
           {url,[{host,<<"{{cfg.host_url}}">>},{port,
                                        {{cfg.port}}
                                        }]},
           {server,true},
           {root,<<".">>},
           {version,<<"0.0.1">>}]},

      {'Elixir.Aptamer.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {database,<<"{{cfg.database_name}}">>},
           {pool_size,20},
           {{#if bind.database.first}}
             {{#with bind.database.first as |pg|}}
               {username,<<"{{pg.cfg.superuser_name}}">>},
               {password,<<"{{pg.cfg.superuser_password}}">>},
               {hostname, <<"{{pg.sys.ip}}">>},
               {port,
               {{pg.cfg.port}}
               }
             {{/with}}
           {{else}}
             {username,<<"{{cfg.database_user}}">>},
             {password,<<"{{cfg.database_password}}">>},
             {hostname, <<"{{cfg.database_host}}">>},
             {port, {{cfg.database_port}}},
             {ssl, {{cfg.database_usessl}}}
           {{/if}}
           ]}
    ]
}].
