%% Generated - edit/create /Users/cortman/icts/aptamer/backend-ex/_build/prod/rel/aptamer/sys.config instead.
[{aptamer, [
      {'Elixir.Aptamer.Endpoint',
          [{secret_key_base,
               <<"IccgQqMtrQrDjvRIlwgs/3ni1qizFseXblYBn2sMEePo0SR7WQadi0+xYWZS7isa">>},
           {render_errors,
               [{view,'Elixir.Aptamer.ErrorView'},
                {accepts,[<<"html">>,<<"json">>,<<"json-api">>]}]},
           {pubsub,
               [{name,'Elixir.Aptamer.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{{cfg.port}}}]},
           {url,[{host,<<"localhost">>},{port,{{cfg.port}}}]},
           {server,true},
           {root,<<".">>},
           {version,<<"0.0.1">>}]},

      {'Elixir.Aptamer.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"aptamer_dev">>},
           {pool_size,20}
           ]}
    ]
}].
