{{=__ __=}}

[{aptamer, [
      {'Elixir.Aptamer.Endpoint',
          [{secret_key_base,
               <<"IccgQqMtrQrDjvRIlwgs/3ni1qizFseXblYBn2sMEePo0SR7WQadi0+xYWZS7isa">>},
           {render_errors,
               [{view,'Elixir.Aptamer.ErrorView'},
                {accepts,[<<"html">>,<<"json">>,<<"json-api">>]}]},
           {pubsub,
               [{name,'Elixir.Aptamer.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,__cfg.port__}]},
           {url,[{host,<<"localhost">>},{port,__cfg.port__}]},
           {server,true},
           {root,<<".">>},
           {version,<<"0.0.1">>}]},

      {'Elixir.Aptamer.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"aptamer_dev">>},
           {pool_size,20},
           __#if bind.has_database__
           __~#eachAlive bind.database.members as |member|__
           {host, <<"__member.sys.ip__">>},
           {port, __member.cfg.port__}
           __~/eachAlive__
           __else__
           {host, <<"__cfg.database_host__">>},
           {port, __cfg.database_port__}
           __/if__
           ]}
    ]
}].
