
  <div class="ui large top fixed menu">
    <div class="header item">
      <i class="lab icon"></i>
      Aptamer
    </div>
  </div>

<div class="ui container" style="padding-top:55px">


  {{outlet}}


</div>
