
<div class="ui container">
  <h1>Create Graph</h1>
  <div class="ui basic segment">
    <p>
      Upload your structure file to generate a
      graph file
    </p>
  </div>
  <div class="ui two column middle aligned very relaxed stackable grid">

    <div class="column">
    </div>


    <div class="column">
{{graph-options-form}}
    </div>
  </div>

</div>

{{outlet}}
