<div class="ui basic segment">

  <p>
  Upload your structure file to generate a
  graph file. You can {{link-to 'generate' 'predict-structures'}} one if you don't have one
  </p>
  <p>
  {{upload-with-progress url="/files/structure" onUpload=(route-action "fileUploaded")}}

  <br/>

  {{#filter-panel as |currentFilter|}}
    {{#file-list files=model filter=currentFilter as |sf|}}
      {{structure-file-list-item sf=sf}}
    {{/file-list}}
  {{/filter-panel}}

  </p>
</div>
