<div class="ui basic segment">

  <p>
  Upload your structure file to generate a
  graph file. You can {{link-to 'generate' 'predict-structures'}} one if you don't have one
  </p>
  <p>
  {{upload-with-progress onUpload=(route-action "fileUploaded")}}

  {{#file-list files=model.structureFiles as |sf|}}
    {{structure-file-list-item sf=sf}}
  {{/file-list}}
  </p>
</div>
