
<div class="ui container">
  <h1>Create Graph</h1>
  <div class="ui basic segment">
    <p>
      Upload your structure file to generate a
      graph file. You can <a>generate</a> one if you don't have one
    </p>
  </div>
  <div class="ui two column middle aligned very relaxed stackable grid">

    <div class="column">
      {{upload-with-progress onUpload=(route-action "fileUploaded")}}
    </div>


    <div class="column">
    </div>
  </div>

  <br>

    {{#structure-file-list files=model.structureFiles as |sf|}}
      {{structure-file-list-item sf=sf}}
    {{/structure-file-list}}

</div>

{{outlet}}
