<div class="ui basic segment">

  <p>You can use vienna rnaFold to generate structures. After your file has been processed
     you can {{link-to "create a graph of your structures" "create-graph"}} </p>
  <p>
  {{upload-with-progress url=(concat rootURL '/upload/predict-structures') onUpload=(route-action "fileUploaded")}}

  {{#file-list files=model as |sf|}}
    {{predict-structures-input-item sf=sf}}
  {{/file-list}}
  </p>
</div>
