<div class="ui basic segment">

  <p>You can use vienna rnaFold to generate structures</p>
  <p>
  {{upload-with-progress onUpload=(route-action "fileUploaded")}}

  {{#structure-file-list files=model.structureFiles as |sf|}}
    {{structure-file-list-item sf=sf}}
  {{/structure-file-list}}
  </p>
</div>
