<div class="ui right floated content">
  <button class="small ui button">
    <i class="play icon"></i>
    Predict Structures
  </button>
  <button class="small ui icon button" {{action "toggleShowMore"}}>
      <i class="options icon"></i>
  </button>
</div>

<i class="large middle aligned file text icon"></i>

<div class="content">
  <a class="header">{{sf.fileName}}</a>
  <div class="description">Uploaded {{moment-from-now sf.uploadedOn}}</div>
</div>

