<div class="ui pagination menu">
  {{#each nums as |num|}}
    <a role="button" class="item {{if (eq num currentValue) "active"}}" {{action "selectValue" num}}>
      {{num}}
    </a>
  {{/each}}
</div>
