<div class="ui right floated content">
  <button class="small ui button">
    <i class="play icon"></i>
    Create Graph
  </button>
  <button class="small ui icon button" {{action "toggleShowMore"}}>
      <i class="options icon"></i>
  </button>
</div>

<i class="large middle aligned file text icon"></i>

<div class="content">
  <a class="header">{{sf.fileName}}</a>
  <div class="description">Uploaded {{sf.uploadedOn}}</div>
</div>

{{#if showMore}}
  <div class="extra">

    {{graph-options-form fileName=sf.fileName optionsObject=optionsObject}}
  </div>
{{/if}}
