{{drop-zone 
  error=(action "errorFile")
  success=(action onUpload)
  complete=(action "completeFile")
  addedfile=(action "addedFile")
  uploadprogress=(action "progressFile")
  url='/upload'
}}

{{#each uploadJobs as |job|}}
{{#ui-progress percent=job.percentComplete class="teal indicating"}}
  <div class="bar"></div>
  <div class="label">{{job.fileName}}</div>
{{/ui-progress}}
{{/each}}
