<div class="ui tiny active modal">
  <div class="header">Confirm Delete</div>
  <div class="content"><p>Delete file "<%= @file.file_name %>?"</p></div>
  <div class="actions">
    <div class="ui red basic cancel button" role="button" {{action "toggleConfirmModal"}}>
      <i class="remove icon"></i>
      Cancel
    </div>
    <div class="ui green ok inverted button" role="button" {{action "deleteFile" routeObject}}>
      <i class="checkmark icon"></i>
      Delete
    </div>
  </div>
</div>
